.App {
  text-align: center;
}

.main-bg {
  height: 350px;
  background-image: url("./img/bg.png");
  background-size: cover;
  background-position: center;
}

.fadeStart {
  opacity: 0;
}
.fadeEnd {
  opacity: 1;
  transition: all 1s;
}

/* .Link {
  color: rgba(238, 238, 238, 0.5);
  margin-right: 10px;
  text-decoration: none;
} */
